<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head')%> 
<body class="detalle">
     
    <%-include('./partials/header')%> 
    <main>
        <section class="producto">
            <div class="productoImagen">
              <img src="/images/products/<%= product.image %>" alt="">  
            </div>
            <div class="productoDetalle">
                <div class="productoNombre">
                    <h3 class="categoria"><%= product.category.name %></h3>
                    <h1><%= product.name %></h1> 
                </div>            
                <div class="precios-estrellas">
                    <div>
                        <h3 class="precio">$ <%= product.price %></h3>
                    </div>
                    <p class="estrellas"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
                </div>
                <div class="envio">
                    <p>Envio gratis</p>
                </div>
                <div class="caracteristicasFormulario">
                    <form action="">
                        <div class="select caja-form">
                            <label for="color">Color:</label>
                            <select name="color" id="color">
                                <option value="-" selected hidden>Elegí el color</option>
                                <% colors.forEach(color => { %>
                                    <option value="<%= color.id %>"><%= color.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <% if (sizes.length > 0) { %>
                            <div class="select caja-form">
                                <label for="talle">Talle:</label>
                                <select name="talle" id="talle">
                                    <option value="" selected hidden>Eligí talle</option>
                                    <% sizes.forEach(size => { %>
                                        <option value="<%= size.id %>"><%= size.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        <% } else {%>
                            <span></span>
                        <% }%>
                        <div class="input caja-form">
                            <label for="cantidad">Cantidad:</label>
                            <input type="number" name="cantidad" id="cantidad">
                        </div>
                        <button>Agregar al carrito</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="infoProducto">
            <h2>Información del producto</h2>
            <p><%= product.description %></p>
        </section>
        <section class="reseñas">
            <h2>Reseñas</h2>
            <div class="reseña">
                <div class="nombre-estrellas">
                    <h3>Nombre</h3>
                    <p class="estrellas"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In quam officiis non odio ex quia eligendi tenetur fuga similique cumque?</p>
            </div>
            <div class="reseña">
                <div class="nombre-estrellas">
                    <h3>Nombre2</h3>
                    <p class="estrellas"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
                </div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. In quam officiis non odio ex quia eligendi tenetur fuga similique cumque?</p>
            </div>
        </section>
        <section class="productosRelacionados">
            <h2>Más vendidos</h2>
        
            <!-- carrucel -->
        
            <div class="glide">
                <div class="glide__track" data-glide-el="track">
                  <ul class="glide__slides">
                    
                    <% mochilas[0].forEach(mochila=> { %>
                        <li class="glide__slide">
                            <a href="/productos/detalle/<%= mochila.id %>" class="relacionadoContenedor">
                            <div class="relacionado">
                                <div class="imagenRelacionado">
                                    <img src="/images/products/<%= mochila.image %>" alt="">
                                </div>
                                <div class="detalleRelacionado">
                                    <h3><%= mochila.name %></h3>
                                    <h4>$ <%= mochila.price %></h4>
                                </div>
                            </div>
                            </a>
                        </li>
                    <% }) %>
                                                            
                  </ul>
                </div>
                <div class="glide__arrows" data-glide-el="controls">
                  <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i class="fas fa-caret-left"></i></button>
                  <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="fas fa-caret-right"></i></button>
                </div>
              </div>
        </section>
    </main>
    <%-include('./partials/footer')%> 
    <script src="/javascripts/glide.js"></script>
    <script src="/javascripts/index.js"></script>
</body>
</html>