<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head')%>
  <style>
    .errores {
      font-weight: 500;
      color: tomato;
      display: block;
      margin: -8px 0 20px 65px;
    }

    h2 {
      text-align: center;
      margin-bottom: 10px;
    }
  </style>

  <body background="/images/fondo.jpg">

    <%-include('./partials/header')%>

      <main class="registro">

        <form class="formulario" id="editarPerfil"
          action="/users/editarPerfil/<%= locals.loginUsuario.id %>?_method=PUT" method="post"
          enctype="multipart/form-data">
          <h2>Editar perfil</h2>

          <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" name="firstName" id="firstName" placeholder="Nombre*" value="<%= usuario.firstName %>">
          </div>
          <span class="errores" id="errorFirstName">
            <%= locals.errores && errores.firstName ? errores.firstName.msg : null %>
          </span>

          <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" name="lastName" placeholder="Apellido" id="lastName" value="<%= usuario.lastName %>">
          </div>
          <span class="errores" id="errorLastName">
            <%= locals.errores && errores.lastName ? errores.lastName.msg : null %>
          </span>

          <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" name="email" id="email" placeholder="Email" value="<%= usuario.email %>" disabled>
          </div>




          <div class="input-contenedor">
            <i class="fas fa-image icon"></i>
            <input type="file" placeholder="Agrega tu foto de perfil" id="profile" name="profile" />
          </div>
          <span class="errores">
            <%= locals.errores && errores.image ? errores.image.msg : null %>
          </span>


          <!-- Fromulario de cambio de contraseña -->
          
            <h4 id="cambiarContraseña">Cambiar contraseña</h4>
          <div id="caja-contraseña">
            <div class="input-contenedor">
              <i class="fas fa-key icon" id="newPassIcon"></i>
              <input type="password" name="newPassword" id="newPassword" placeholder="Nueva contraseña">
            </div>
            <span class="errores" id="errorNewPassword">
              
            </span>

            <div class="input-contenedor">
              <i class="fas fa-key icon" id="newPassIcon2"></i>
              <input type="password" name="newPassword2" id="newPassword2"
                placeholder="Volvé a escribir la nueva contraseña">
            </div>
            <span class="errores" id="errorNewPassword2">
              
            </span>
          </div>

          <br>
          <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" name="password" id="password" placeholder="Contraseña actual*">
            <div id="verPass">
              <i class="far fa-eye"></i>
           </div>
          </div>
          <span class="errores" id="errorpassword">
            <%= locals.errores && errores.password ? errores.password.msg : null %>
          </span>

          <span class="errores" id="campo-vacio"></span>
          <button class="button" for="editarPerfil">Editar</button>

        </form>



      </main>
      <%-include('./partials/footer')%>
        <script src="/javascripts/editar-perfil.js"></script>
        <script src="/javascripts/validaciones/editarPerfilValidation.js"></script>
        <script src="/javascripts/cart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
  </body>

</html>