<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
  <style>
    .errores {
      font-weight: 500;
      color: tomato;
      display: block;
      margin: -8px 0 20px 65px;
    }
  </style>

  <body background="/images/fondo.jpg">
     
    <%-include('./partials/header')%>

    <main class="registro">
      <form class="formulario" action="/users/editarPerfil/<%= locals.loginUsuario.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <h1>¡Edita tu Perfil!</h1>

        <div class="input-contenedor">
          <i class="fas fa-user icon"></i>
          <input
            type="text"
            placeholder="Nombre"
            id="nombre"
            name="firstName"
            value="<%=usuario.firstName%>"

          />
        </div>
        <span class="errores">
          <%= locals.errores && errores.first_name ? errores.first_name.msg :
          null %>
        </span>

        <div class="input-contenedor">
          <i class="fas fa-user icon"></i>
          <input
            type="text"
            placeholder="Apellido"
            id="apellido"
            name="lastName"
            value="<%=usuario.lastName %>"

          />
        </div>

        

        <div class="input-contenedor">
          <i class="fas fa-image icon"></i>
          <input
            type="file"
            placeholder="Agrega tu foto de perfil"
            id="profile"
            name="nuevaImagen"
          />
        </div>

        <div class="input-contenedor">
          <i class="fas fa-key icon"></i>
          <input
            type="password"
            placeholder="Contraseña Anterior"
            id="password"
            name="oldPassword"
          />
        </div>
        <span class="errores">
          <%= locals.errores && errores.password ? errores.password : null
          %>
        </span>

        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input
              type="password"
              placeholder="Contraseña Nueva"
              id="password"
              name="newPassword"
            />
          </div>
          <span class="errores">
            <%= locals.errores && errores.password ? errores.password : null
            %>
          </span>

        <div class="input-contenedor">
          <i class="fas fa-key icon"></i>
          <input
            type="password"
            placeholder="Volve a escribir tu contraseña nueva"
            id="password2"
            name="newPassword2"
          />
        </div>
        <span class="errores">
          <%= locals.errores && errores.password2 ? errores.password2.msg : null
          %>
        </span>

        <input type="submit" value="Editar" class="button" /> 
       
      </form>
    </main>
    <%-include('./partials/footer')%>
  </body>
</html>
