<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>

  <body>
     
    <%-include('./partials/header')%>

    <main class="perfil">
      <% if (locals.usuario && usuario) { %>
      <h2>Bienvenid@, <%= usuario.firstName %></h2>
      <section class="usuario">
        <div class="imagenUsuario">
          <img src="/images/users/<%= usuario.image %>" alt="" />
        </div>
        <div class="infoUsuario">
          <p>
            <span>Nombre completo:</span> <%= usuario.firstName %> <%=
            usuario.lastName %>
          </p>
          <p><span>Email:</span> <%= usuario.email %></p>

          <a href="/users/logout" class="cerrarSesion">Cerrar sesión</a>
        </div>
      </section>
      <% } else{ %>
      <span></span>
      <% } %>
    </main>

    <%-include('./partials/footer')%>
  </body>
</html>
