<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head')%>
  <style>
    .errores {
      font-weight: 500;
      color: tomato;
      display: block;
      margin: -8px 0 20px 65px;
    }
  </style>

  <body background="/images/fondo.jpg">

    <%-include('./partials/header')%>

      <main class="registro">
        <form class="formulario" method="POST" enctype="multipart/form-data">
          <h1>¡Registrate!</h1>

          <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Nombre" id="nombre" name="first_name"
              value="<%= locals.old && old.first_name ? old.first_name : null %>" />
          </div>
          <span class="errores">
            <%= locals.errores && errores.first_name ? errores.first_name.msg : null %>
          </span>

          <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" placeholder="Apellido" id="apellido" name="last_name"
              value="<%= locals.old && old.last_name ? old.last_name : null %>" />
          </div>

          <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" placeholder="tucorreo@hotmail.com" id="email" name="email"
              value="<%= locals.errores &&  errores.email === '' ? old.email : null %>" />
          </div>
          <span class="errores">
            <%= locals.errores && errores.email ? errores.email.msg : null %>
          </span>

          <div class="input-contenedor">
            <i class="fas fa-image icon"></i>
            <input type="file" placeholder="Agrega tu foto de perfil" id="profile" name="profile" />
          </div>
          <span class="errores">
            <%= locals.errores && errores.image ? errores.image.msg : null %>
          </span>

          <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Contraseña" id="password" name="password" />
          </div>
          <span class="errores">
            <%= locals.errores && errores.password ? errores.password.msg : null %>
          </span>

          <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="password" placeholder="Volve a escribir tu contraseña" id="password2" name="password2" />
          </div>
          <span class="errores">
            <%= locals.errores && errores.password2 ? errores.password2.msg : null %>
          </span>

          <input type="submit" value="Iniciar sesión" class="button" /> <br />
          <br />
          <p>
            Al registrarte aceptas las Condiciones de uso y Política de
            privacidad.
          </p>
          <br />
          <p>
            ¿Ya tienes cuenta?
            <a class="link" href="/users/login">Inicia sesión</a>
          </p>
        </form>
      </main>
      <%-include('./partials/footer')%>
  </body>

</html>