<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head')%>
  <body class="bg">
     
    <%-include('./partials/header')%>

    <main class="registro">
      <form class="formulario" id="registro" method="POST" enctype="multipart/form-data">
        <h1>¡Registrate!</h1>

        <div class="input-contenedor">
          <i class="fas fa-user icon" id="iconFirstName"></i>
          <input
            type="text"
            placeholder="Nombre"
            id="name"
            name="first_name"
            value="<%= locals.old && old.first_name ? old.first_name : null %>"
            

          />
        </div>
        <span class="errores" id="errorName"> 
          <%= locals.errores && errores.first_name ? errores.first_name.msg :
          null %>
        </span>

        <div class="input-contenedor">
          <i class="fas fa-user icon" id="iconLastName"></i>
          <input
            type="text"
            placeholder="Apellido"
            id="lastName"
            name="last_name"
            value="<%= locals.old && old.last_name ? old.last_name : null %>"

          />
        </div>
        <span class="errores" id="errorLastName"> 
          <%= locals.errores && errores.last_name ? errores.last_name.msg :
          null %>
        </span>

        <div class="input-contenedor">
          <i class="fas fa-envelope icon" id="iconEmail"></i>
          <input
            type="text"
            placeholder="tucorreo@hotmail.com"
            id="email"
            name="email"
            value="<%= locals.errores &&  errores.email === '' ? old.email : null %>"
          />
        </div>
        <span class="errores" id="errorEmail">
          <%= locals.errores && errores.email ? errores.email.msg : null %>
        </span>

        

        <div class="input-contenedor">
          <i class="fas fa-key icon" id="iconPassword"></i>
          <input
            type="password"
            placeholder="Contraseña"
            id="password"
            name="password"
          />
          <div id="verPass">
            <i class="far fa-eye"></i>
         </div>
        </div>
        <span class="errores" id="errorPassword">
          <%= locals.errores && errores.password ? errores.password.msg : null
          %>
        </span>

        <div class="input-contenedor">
          <i class="fas fa-key icon" id="iconPassword2"></i>
          <input
            type="password"
            placeholder="Volve a escribir tu contraseña"
            id="password2"
            name="password2" 
          />
        </div>
        <span class="errores" id="errorPassword2">
          <%= locals.errores && errores.password2 ? errores.password2.msg : null
          %>
        </span>
        <div class="input-contenedor">
          <i class="fas fa-image icon" id="iconImage"></i>
          <input
            type="file"
            placeholder="Agrega tu foto de perfil"
            id="profile"
            name="profile"
          />
        </div>
        <span class="errores" id="errorImage">
          <%= locals.errores && errores.image ? errores.image.msg : null %>
        </span>
        <span class="errores" id="campo-vacio">

        </span>

        <input type="submit" value="Registrate" class="button" /> <br />
        <br />
        <p>
          Al registrarte aceptas las Condiciones de uso y Política de
          privacidad.
        <p>
          ¿Ya tienes cuenta?
          <a class="link" href="/users/login">Inicia sesión</a>
        </p>
      </form>
    </main>
    <%-include('./partials/footer')%>
    <script src="/javascripts/validaciones/registerValidationFront.js"></script>
  </body>

</html>