<!DOCTYPE html>
<html lang="es">
    <%-include('./partials/head')%> 
<body class="detalle">
     
    <%-include('./partials/header')%> 
    <main class="vistaProductos">
        <h2><%= title %></h2>
        <section class="productos">  
            <% products.forEach(product => { %>

                <a href="/productos/detalle/<%= product.id %>" class="producto">
                    <div class="productoImg">
                        <img src="/images/products/<%= product.images[0].file %>" class="img1" alt="">  
                        <img src="/images/products/<%= product.images[1].file %>" class="img2" alt="">  
                    </div>
                    <div class="productoInfo">
                        <h3><%= product.name %></h3>
                        <p>$ <%= product.price %></p>
                    </div>
                </a>
             
            <% }) %>         
        </section>
    </main>
    
    <%-include('./partials/footer')%> 
    <script src="/javascripts/cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>
</html>